.logoContainer {
    padding: 0 0 0 1.2rem;
}

.logo {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: var(--text-white);
    text-decoration: none;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.buttonItem {
    background-color: var(--primary-color-hover);
    border-radius: 0.4rem;
    margin: 0 0.8rem 0 0;
    color: var(--text-white);
    padding: 0.4rem 0.8rem;
    cursor: pointer;
}

.buttonItemIcon {
    margin-right: 0.4rem;
    font-size: 1.5rem;
}

.button {
    font-size: 1.8rem;
    line-height: 2.4rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-white);
    cursor: pointer;
}