.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.content {
    width: 70%;
    margin: 3rem 0 0 0;
}

.backButtonContainer {
    margin: 5.2rem 0 0.8rem 0;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0.8rem;
    color: rgb(75, 85, 99);
    font-size: 2rem;
    line-height: 2.4rem;
}

.backButtonDescription {
    margin: 0 0 0 3.6rem;
    font-size: 1.6rem;
    line-height: 2rem;
} 

.userInfoContainer {
    width: 100%;
    text-align: center;
    margin: 6rem 0 1rem 0;
}

.userInfoImage {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    margin: 0 auto;
}

.userInfoName {
    margin: 0.4rem 0 0 0;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 400;
}

.infoDetailContainer {
    margin: 6rem 0 0 0;
}

.infoDetailTitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.infoDetailForm {
    margin: 1.6rem 0 0 0;
}

.updateButtonContainer {
    text-align: right;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 740px) {
    .backButtonContainer {
        margin: 0;
    }
}
