:root {
  --primary-color: rgb(33, 164, 220);
  --primary-color-hover: rgb(52, 152, 243);
  --bg-color: rgb(255, 255, 255);
  --text-white: rgb(255, 255, 255);
  --error: rgb(239, 68, 68);
}

:root.darkMode {
  --primary-color: rgb(33, 164, 220);
  --primary-color-hover: rgb(52, 152, 243);
  --bg-color: rgb(18, 18, 18, 0.84);
  --text-color: rgb(0, 0, 0);
  --error: rgb(239, 68, 68);
}

.d-none {
  display: none;
}

a {
  text-decoration: none;
}

.w100 {
  width: 100% !important;
}

.formElements {
  margin: 0 0 1.2rem 0;
}

.label {
  display: block;
  font-weight: 400;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0 0 0.4rem 0;
}

.formElementInput {
  border: 0.1rem solid;
  border-radius: 0.4rem;
  border-color: rgb(110, 116, 139);
  padding: 1rem;
  width: 100%;
  outline: none;
}

.formElementInput::placeholder {
  font-size: 1.4rem;
  line-height: 2rem;
}

.formElementInputError {
  border-color: var(--error);
}

textarea {
  height: 10rem;
  resize: none;
}
