.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0984e3, #00b894);
  justify-content: center;
  align-items: center;
}

.formRegister {
  background-color: rgb(255, 255, 255);;
  border-radius: 0.8rem;
  width: 40rem;
  text-align: center;
  height: fit-content;
  padding: 2rem 4rem;
}

.header {
  margin: 3rem 0;
}

.title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  margin: 0 0 0 4px;
}

.registerButtonContainer {
  margin: 1.6rem 0 1.6rem 0;
}

.registerFooterDescription {
  margin: 0 0.4rem 0 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

.registerFooterDirect {
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 2rem;
  text-decoration: none;
}

@media only screen and (max-width: 740px) {
  .formRegister {
    width: 34rem;
  }
}
