.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/anh_todo_list.png');
    justify-content: center;
    align-items: center;
}

.formLogin {
    background-color: white;
    border-radius: 0.8rem;
    width: 40rem;
    text-align: center;
    height: fit-content;
    padding: 2rem 0;
}

.header {
    margin: 3rem 0;
}

.title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin: 0 0 0 4px;
}

.forgotPassword {
    text-align: right;
    margin: -0.9rem 4rem 0 0;
}

.forgotPasswordTitle {
    font-size: 1.2rem;
    line-height: 2rem;
    cursor: pointer;
    color: black;
}

.forgotPasswordTitle:hover {
    color: rgba(33, 164, 220, 1);
}

.loginButtonContainer {
    margin: 1.6rem 0 1.6rem 0;
    width: 100%;
}

.loginButton {
    color: white;
    text-align: center;
    border-radius: 0.8rem;
    background-color: rgba(33, 164, 220, 0.9);
    width: 80%;
    height: 4.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgba(33, 164, 220, 1);
    transition: 0.3s linear;
}

.loginFooterDescription {
    margin: 0 0.4rem 0 0;
    font-weight: 400;
    color: black;
    font-size: 1.4rem;
    line-height: 2rem;
}

.loginFooterDirect {
    color: rgba(33, 164, 220, 1);
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .formLogin {
        width: 34rem;
    }
}