.container {
    height: 100%;
    width: 100%;
}

.headerContainer {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 130, 246);
    position: fixed;
    top: 0;
}

.content {
    margin-top: 6rem;
    font-size: 1.6rem;
    text-align: center;
}

.titleContainer {
    margin: 10rem 0 3rem 0;
}

.title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
}

.updateForm {
    width: 80rem;
    margin: 0 auto;
}

@media only screen and (max-width: 740px) {
    .updateForm {
        width: 34rem;
    }
}