.container {
    height: 100%;
    width: 100%;
}

.headerContainer {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(59, 130, 246);
    position: fixed;
    top: 0;
}

.content {
    margin-top: 6rem;
    font-size: 1.6rem;
}

.footerContainer {
    position: absolute;
    width: 100%;
    bottom: 0;
}