.container {
  width: 100%;
  height: 100%;
}

.headerContainer {
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.imageContainer {
  width: 100%;
  height: 40rem;
  position: relative;
  background-image: url(../../assets/images/images.jpg);
  background-size: contain;
  margin-top: 6rem;
}

.svg {
  font-family: 'Russo One', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.svg .text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #264370;
  font-size: 100px;
}
@keyframes stroke {
  0% {
    fill: rgba(56, 107, 158, 0);
    stroke: rgba(38, 67, 112, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(56, 107, 158, 0);
    stroke: rgba(38, 67, 112, 1);
  }
  80% {
    fill: rgba(56, 107, 158, 0);
    stroke: rgba(38, 67, 112, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(56, 107, 158, 1);
    stroke: rgba(38, 67, 112, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.aboutContainer {
  width: 80%;
  text-align: center;
  margin: 6rem auto;
}

.aboutTitle {
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: 500;
  margin: 0 0 3rem 0;
}

.aboutDescription {
  margin-bottom: 1rem;
}

.aboutDescriptionItem {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 0 0 2rem;
  text-align: justify;
}

.listImageItem {
  width: 22rem;
  height: 16rem;
  object-fit: cover;
}

.listImageItem:nth-child(2) {
  margin: 0 1rem;
}

@media only screen and (max-width: 740px) {
  .logo {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .buttonItem {
    padding: 0.3rem 0.6rem;
  }

  .buttonItemIcon {
    margin-right: 0.4rem;
    font-size: 1.2rem;
  }

  .button {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .imageContainer {
    height: 30rem;
    margin-top: 5rem;
  }

  .svg .text {
    font-size: 5rem;
  }

  .aboutTitle {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
  }

  .listImageItem {
    width: 30rem;
    margin: 2rem 0;
  }
}
