.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  width: 40rem;
  height: fit-content;
  position: relative;
  top: 30%;
  animation: scaleIn 0.2s linear;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 2rem 0 1rem;
}

.title,
.close {
  font-size: 1.6rem;
  font-weight: 400;
}

.close {
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.body {
  padding: 2rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 0 1rem 0;
}

.description {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
}

.footer {
  text-align: right;
  padding-bottom: 0.5rem;
}

.footer:last-child {
  margin-right: 1rem;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (max-width: 740px) {
  .modal {
    width: 34rem;
  }

  .title {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
