.inputContainer {
  border: 1px solid rgb(110, 116, 139);
  border-radius: 0.4rem;
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
}

.inputContainer > i {
  font-size: 1.4rem;
  margin-right: 1rem;
  font-weight: 600;
  opacity: 0.75;
  color: var(--text-color);
}

.formElementInput {
  border: 0.1rem solid;
  border-color: rgb(110, 116, 139);
  width: 100%;
  border-top: transparent;
  border-right: transparent;
  border-bottom: transparent;
  padding: 1rem 0 1rem 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  outline: none;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.formElementInput::placeholder {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.bgReadOnly {
  background-color: rgba(0, 0, 0, 0.15);
}

