.customLoader {
  width: 69px;
  height: 12px;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customLoader:before,
.customLoader:after {
  content: '';
  grid-area: 1/1;
  background: radial-gradient(farthest-side, #766df4 90%, #0000) left,
    radial-gradient(farthest-side, #766df4 90%, #0000) right;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: d2 1s infinite;
}
.customLoader:after {
  margin: 0 19px;
  animation-direction: reverse;
}

@keyframes d2 {
  80%,
  100% {
    transform: rotate(0.5turn);
  }
}
